@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

h1 {
  font-family: 'Vina Sans', sans-serif;
  font-size: 65px;
	font-weight: 10;
  margin: 0;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 10px 0;
	font-style: italic;
}

body {
  color: white;
	height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #2a0022;
}

.example-vid-img-1 {
    border-radius: 15px;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translate(-50%, -110%) scale(1.05);
    -webkit-transform: translate(-50%, -110%) scale(1.05);
    width: 400px;
    height: auto;
    object-fit: cover;
    transform-origin: center;
	position: absolute;
	top: 50%;
	left: 50%;
}

.example-vid-img-1:hover {
    transform: translate(-50%, -110%) scale(1.2);
    -webkit-transform: translate(-50%, -110%) scale(1.2);
}

.example-vid-img-2 {
    border-radius: 15px;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translate(-50%, 0%) scale(1.05);
    -webkit-transform: translate(-50%, 0%) scale(1.05);
    width: 400px;
    height: auto;
    object-fit: cover;
    transform-origin: center;
	position: absolute;
	top: 50%;
	left: 50%;
}

.a {
	overflow: hidden;
    transition-duration: 0.15s;
    transition-property: background-color transform;
	transform: rotate(1.5deg);
	-webkit-transform: rotate(1.5deg);
	border-radius: 784578px; /* That's "STILRY" if you use a dial pad */
	background-color: #540144;
	box-shadow: 7px;
	padding: 7px 40px;
	cursor: pointer;
	text-align: center;
}

.a:hover {
	background-color: #760079;
	transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
}

.example-vid-img-2:hover {
    transform: translate(-50%, 0%) scale(1.2);
    -webkit-transform: translate(-50%, 0%) scale(1.2);
}

a {
	
	text-decoration: none;
}
