@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.banner {
  background-image: url('logos/X Banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 530px; 
  width: 93%;
  margin: 0; 
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
}

h1, h2, h3 {
  font-family: Montserrat, sans-serif;
}
